<div>

  <md-input placeholder="Enter Name" [(ngModel)]="student.name"> </md-input>
            <br/>
            <md-input placeholder="Enter Gender" [(ngModel)]="student.gender"></md-input>
            <br/>
            <md-input placeholder="Enter age" [(ngModel)]="student.age"></md-input>
            <!--<br/>
            <md-input placeholder="Enter Phone_no" [(ngModel)]="student.phoneNumber"></md-input>
            <br/>
            <md-input placeholder="Enter Date Of Birth" [(ngModel)]="student.dob"></md-input>
            <br/>
            <md-input placeholder="Enter Maths Marks" [(ngModel)]="student.marks[0]"></md-input>
            <br/>
            <md-input placeholder="Enter Science Marks" [(ngModel)]="student.marks[1]"></md-input>
            <br/>
            <md-input placeholder="Enter English Marks" [(ngModel)]="student.marks[2]"></md-input>
            <br/>-->

            <!--<button md-raised-button (click)="saveStudent()">Save</button>-->
            <button md-raised-button (click)="saveStudent()">Save</button>
           <!-- <p-splitButton label="Save" icon="fa-check" (onClick)="saveStudent()" [model]="items"></p-splitButton>-->
           <button md-raised-button (click)="getScore()">Add</button>
           <!--<button md-raised-button (click)="student.getScore()">Add</button>-->


          </div>